{
  "apiKey": "****",
  "authDomain": "{ProjectID}.firebaseapp.com",
  "projectId": "{ProjectID}",
  "storageBucket": "{ProjectID}.appspot.com",
  "messagingSenderId": "****",
  "appId": "*:*************:web:**********************",
  "measurementId": "G-**********"
}
