.MuiTypography-h1 {
  font-size: 3rem;
}
.MuiTypography-h2 {
  font-size: 2.75rem;
}
.MuiTypography-h3 {
  font-size: 2.5rem;
}

.working-calendar tbody tr:hover {
  background-color: #bcecfc !important;
}

@media print {
  .ignore-print {
    display: none;
  }
}
